@* Author: Sebastian Villafane Ramos
Description: Main dashboard *@

@* import the model class *@
@model Group8Project.Models.ViewModels.HViewModel

@* Assign viewbag into a variable *@
@{
    var user = ViewBag.User;
}

<div class="text-center">
    <h1 class="display-4">CineLog HomePage</h1>
    <p>Welcome to the your dashboard @user.FName @user.LName</p>


    @* Show User's email and Name *@

    <h6>Your email is @user.Email</h6>
    <br />

    <div>
        <div class="btn btn-sm block" style="border:1px solid #ccc">
            <a asp-action="MoviePage">Movie Catalog</a>
        </div>
        <div class="btn btn-sm block" style="border:1px solid #ccc">
            <a asp-action="SearchPage">Search for Film</a>
        </div>
        <div class="btn btn-sm block" style="border:1px solid #ccc">
            <a asp-action="LoginPage">Sign Out</a>
        </div>
    </div>

    <br /><br />
    @* Show the most recent reviews (5) *@


    <h1 class="display-4">Recent Reviews</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Movie</th>
                            <th scope="col">User Rating (1-10)</th>
                            <th scope="col">Review Description</th>
                            <th scope="col">Date Rated</th>
                            <th scope="col">Rater</th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Reviews != null)
                    {
                        <tbody>
                            @foreach (var item in Model.Reviews)
                            {
                                <tr>
                                    <td>@Model.GetMovieName(item.MovieId)</td>
                                    <td>@item.UserRating</td>
                                    <td>@item.ReviewDescription</td>
                                    <td>@item.DateRated</td>
                                    <td>@item.Rater</td>
                                    
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
    
</div>
