@* import the model class *@
@model Group8Project.Models.ViewModels.MViewModel

<div class="text-center">
    <h1 class="display-4">Movie List</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Movie ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Director</th>
                            <th scope="col">Runtime</th>
                            <th scope="col">Release Date</th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Movies != null)
                    {
                        <tbody>
                            @foreach (var item in Model.Movies)
                            {
                                <tr>
                                    <td>@item.MovieId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Genre</td>
                                    <td>@item.Director</td>
                                    <td>@item.Runtime</td>
                                    <td>@item.ReleaseDate</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

    <p>Please fill in this form below to add a truck to your fleet!</p>
    <form asp-action="MoviePage" method="post" style="border:1px solid #ccc">
        <div class="container">
            <hr>
            @* Displays all the error messages *@
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="tempMovie!.MovieId"><b>Movie Id:</b></label>
            <input asp-for="tempMovie!.MovieId">
            <br /><br />
            <label asp-for="tempMovie!.Title"><b>Title:</b></label>
            <input asp-for="tempMovie!.Title">
            <br /><br />
            <label asp-for="tempMovie!.Description"><b>Description:</b></label>
            <input asp-for="tempMovie!.Description">
            <br /><br />
            <label asp-for="tempMovie!.Genre"><b>Genre:</b></label>
            <input asp-for="tempMovie!.Genre">
            <br /><br />
            <label asp-for="tempMovie!.Director"><b>Director:</b></label>
            <input asp-for="tempMovie!.Director">
            <br /><br />
            <label asp-for="tempMovie!.Runtime"><b>Runtime:</b></label>
            <input asp-for="tempMovie!.Runtime">
            <br /><br />
            <label asp-for="tempMovie!.ReleaseDate"><b>Release Date:</b></label>
            <input asp-for="tempMovie!.ReleaseDate">
            <br /><br />

            <div class="clearfix">
                <button type="submit" class="signupbtn">Add Movie</button>
            </div>
            <br />
        </div>
    </form>

    <br />

    <div class="btn btn-sm" style="border:1px solid #ccc">
        <a asp-action="LoginPage">Go To Dashboard</a>
    </div>
</div>
