@* Author:
Description: Movie Page for our application*@

@* import the model class *@
@model Group8Project.Models.ViewModels.MViewModel

<style>
    table.forum td {
        padding: 3px 7px;
        text-align: right;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Movie List</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Director</th>
                            <th scope="col">Runtime</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Rate</th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Movies != null)
                    {
                        <tbody>
                            @foreach (var item in Model.Movies)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.Genre</td>
                                    <td>@item.Director</td>
                                    <td>@item.Runtime</td>
                                    <td>@item.ReleaseDate.ToString("dd/MM/yyyy")</td>
                                    <!-- Add a button or link for rating -->
                                    <td>
                                        <a asp-controller="Home" asp-action="ReviewPage" asp-route-id="@item.MovieId" class="btn btn-primary">Rate</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

    <p>Please fill in this form below to add a movie to the CineLog repository!</p>
    <form asp-action="MoviePage" method="post" style="border:1px solid #ccc">
        <div class="container">
            <hr>
            @* Displays all the error messages *@
            <div asp-validation-summary="All" class="text-danger" style="margin: auto; text-align: left; width: 30%"></div>
            <table class="forum" style="margin: 0 auto">
                <tr>
                    <td><label asp-for="tempMovie!.Title"><b>Title:</b></label></td>
                    <td><input asp-for="tempMovie!.Title"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempMovie!.Description"><b>Description:</b></label></td>
                    <td><input asp-for="tempMovie!.Description"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempMovie!.Genre"><b>Genre:</b></label></td>
                    <td><input asp-for="tempMovie!.Genre"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempMovie!.Director"><b>Director:</b></label></td>
                    <td><input asp-for="tempMovie!.Director"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempMovie!.Runtime"><b>Runtime:</b></label></td>
                    <td><input asp-for="tempMovie!.Runtime"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempMovie!.ReleaseDate"><b>Release Date:</b></label></td>
                    <td><input asp-for="tempMovie!.ReleaseDate" type="date" style="width: 100%"></td>
                </tr>
            </table>
            <br />
            <div class="clearfix">
                <button type="submit" class="signupbtn">Add Movie</button>
            </div>
            <br />
        </div>
    </form>

    <br />

    <div class="btn btn-sm" style="border:1px solid #ccc">
        <a asp-action="HomePage">Go To Dashboard</a>
    </div>
</div>