@* Author: Murtaza Mian
Description: Review Page for our application*@

@* import the model class *@
@model Group8Project.Models.ViewModels.RViewModel

<style>
    table.forum td {
        padding: 3px 7px;
        text-align: right;
    }
</style>

<div class="text-center">

    @*  Display average rating out of 10, movie that has the following ratings *@



    <h1 class="display-4">Review List</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User Rating (1-10)</th>
                            <th scope="col">Review Description</th>
                            <th scope="col">Date Rated</th>
                            <th scope="col">Rater</th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Reviews != null)
                    {
                        <tbody>
                            @foreach (var item in Model.Reviews)
                            {
                                <tr>
                                    <td>@item.UserRating</td>
                                    <td>@item.ReviewDescription</td>
                                    <td>@item.DateRated.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Rater</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

    <p>Please fill in this form below to add a rating to the CineLog repository!</p>
    <form asp-action="ReviewPage" method="post" style="border:1px solid #ccc">
        <div class="container">
            <hr>
            @* Displays all the error messages *@
            <div asp-validation-summary="All" class="text-danger" style="margin: auto; text-align: left; width: 30%"></div>
            <input asp-for="tempReview!.MovieId" hidden value="@Model.MovieId" />
            <input asp-for="tempReview!.Rater" hidden value="@UserSession.getFullName()" />
            <table class="forum" style="margin: 0 auto">
                <tr>
                    <td><label asp-for="tempReview!.UserRating"><b>User Rating:</b></label></td>
                    <td><input asp-for="tempReview!.UserRating"></td>
                </tr>
                <tr>
                    <td><label asp-for="tempReview!.ReviewDescription"><b>Review Description:</b></label></td>
                    <td><input asp-for="tempReview!.ReviewDescription"></td>
                </tr>
                <!--
                <tr>
                    <td><label asp-for="tempReview!.DateRated"><b>Date Rated:</b></label></td>
                    <td><input asp-for="tempReview!.DateRated" type="date" style="width: 100%"></td>
                </tr>
                -->
@*                 <tr>
                    <td><label asp-for="tempReview!.Rater"><b>Rater:</b></label></td>
                    <td><input asp-for="tempReview!.Rater"></td>
                </tr> *@
            </table>
            <br />
            <div class="clearfix">
                <button type="submit" class="signupbtn">Add Review</button>
            </div>
            <br />
        </div>
    </form>

    <br />

    <div class="btn btn-sm" style="border:1px solid #ccc">
        <a asp-action="HomePage">Go To Dashboard</a>
    </div>
</div>